
{{ "<!-- BEGIN PLUGINS -->" | safeHTML }}
<link href="{{ "plugins/pace/pace-theme-flash.css" | absURL }}" rel="stylesheet" type="text/css" />
<link href="{{ "plugins/bootstrap/css/bootstrap.min.css" | absURL }}" rel="stylesheet" type="text/css" />
<link href="{{ "plugins/font-awesome/css/font-awesome.css" | absURL }}" rel="stylesheet" type="text/css" />
<link href="{{ "plugins/swiper/css/swiper.css" | absURL }}" rel="stylesheet" type="text/css" media="screen" />


{{ "<!-- END PLUGINS -->" | safeHTML }}
{{ "<!-- BEGIN PAGES CSS -->" | safeHTML }}
<link class="main-stylesheet" href="{{ "pages/css/this-theme.css" | absURL }}" rel="stylesheet" type="text/css" />
<link class="main-stylesheet" href="{{ "pages/css/pages.css" | absURL }}" rel="stylesheet" type="text/css" />
<link class="main-stylesheet" href="{{ "pages/css/pages-icons.css" | absURL }}" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Kanit:200|Prompt:300|Sarabun:300&display=swap&subset=thai" rel="stylesheet">

<link rel="stylesheet" href="{{ "plugins/animate-css/animate.css" | absURL }}">
{{ "<!-- NEW PLUGINS -->" | safeHTML }}
<link rel="stylesheet" href="{{ "plugins/slider/slider.css" | absURL }}">
<link rel="stylesheet" href="{{ "plugins/slick/slick.css" | absURL }}">
<link rel="stylesheet" href="{{ "plugins/facncybox/jquery.fancybox.css" | absURL }}">
<link rel="stylesheet" href="{{ "plugins/hover/hover-min.css" | absURL }}">
<link rel="stylesheet" href="{{ "plugins/ionicons/ionicons.min.css" | absURL }}">