{{ define "main" }}

{{ partial "services/banner.html" . }}

{{ partial "services/grid-list.html" . }}

{{ partial "services/modal-aboard.html" . }}

{{ partial "services/modal-activities.html" . }}

{{ partial "services/modal-airline.html" . }}

{{ partial "services/modal-consult.html" . }}

{{ partial "services/modal-event.html" . }}

{{ partial "services/modal-fit.html" . }}

{{ partial "services/modal-grouptour.html" . }}

{{ partial "services/modal-guide.html" . }}

{{ partial "services/modal-incentive.html" . }}

{{ partial "services/modal-seminar.html" . }}

{{ partial "services/modal-transportation.html" . }}

{{ partial "services/modal-visa.html" . }}

{{end}}