{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.contact }}
{{ "<!-- SERVICE BANNER START -->" | safeHTML }}
<section id="demo-hero-4" class="jumbotron relative full-vh wow fadeInDown" data-pages-bg-image="{{ .banner.image | absURL }}">
  <div class="container-xs-height full-height">
    <div class="col-xs-height col-middle">
      <!-- BEGIN CONTENT -->
      <div class="content-layer">
        <div class="inner full-height">
          <div class="container-xs-height full-height">
            <div class="col-xs-height col-middle text-center">
              <h1 class="hidden-xs">{{ .banner.title }}</h1>
              <h2 class="visible-xs">{{ .banner.title }}</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
  </div>
</section>
{{ "<!-- SERVICE BANNER END -->" | safeHTML }}
{{ end }}