{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.about.story }}
{{ "<!-- STORY START -->" | safeHTML }}
<section class="p-b-60 p-t-60 wow fadeInDown">
  <div class="container">
    <div class="row wow fadeInDown">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h6 class="block-title m-b-0 ">{{ .title }}</h6>
        <h2 class="m-t-5">{{ .subtitle }}</h2>
      </div>
    </div>
    <div class="row wow fadeInDown">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-5"></div>
          <div class="col-sm-7">
            <p class="m-t-20">{{ .headline }}</p>
          </div>
        </div>
        <div class="row m-t-20 wow fadeInDown">
          <div class="col-sm-5 text-right sm-text-left">
            <p class="hint-text">{{ .paragraph1 }}</p>
          </div>
          <div class="col-sm-7 sm-m-t-20">
            <p>{{ .paragraph2 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- STORY END -->" | safeHTML }}
{{ end }}