{{ "<!-- Footer Section Start -->" | safeHTML }}
<section class="p-b-50 p-t-50 bg-master-darker ">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <p class="no-margin text-white">Golden Seven Stars Tour Co., Ltd</p>
        <p class="hint-text text-white no-margin">51 Soi Rattanathibeth 28 Yak 2, Bangkrasor,<br>
          Muang, Nonthaburi, Thailand 11000
        </p>
        <p class="no-margin text-white">Tel. +66(2)-965-8844-6 Fax. +66(0)-2965-8847</p>
      </div>
      <div class="col-md-5">
        <ul class="no-padding pull-right xs-pull-left xs-m-t-20">
          <h3 class="text-white text-right">Follow us</h3>
          <li class="inline no-padding"><a href="https://th-th.facebook.com/Golden7StarsTour/" target="_blank" class="text-white p-l-30 fs-16 xs-no-padding"><img src="{{ "images/facebook.png" | absURL }}" height="40"></a></li>
          <li class="inline no-padding"><a href="https://line.me/R/ti/p/%40golden7stars" target="_blank" class="text-white p-l-20 fs-16"><img src="{{ "images/line.png" | absURL }}" height="40"></a></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{{ "<!-- footer section end -->" | safeHTML }}

{{ partial "footer/script.html" . }}

</body>

</html>